<MudContainer MaxWidth="MaxWidth.False" Style="max-height: 80vh; overflow-y: scroll">
    <MudDialog DisableSidePadding="true" ClassActions="px-2 py-4"  ClassContent="pt-0">
        <DialogContent>
            <MudGrid Class="pt-0 pb-4" Spacing="1">
                @if (!IsLoaded)
                {
                    <MudItem xs="12">
                        <MudSkeleton Height="200px" Width="100%" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" />
                    </MudItem>
                }
                else
                {
                    <MudItem xs="12" md="6">
                        <div>
                            <MudText Typo="Typo.caption"><b>Token Name</b></MudText>
                            <MudText Typo="Typo.body1">@AssetCounterModel.TokenInfo.TokenName</MudText>
                        </div>
                    </MudItem>

                    <MudItem xs="12" md="6">
                        <div>
                            <MudText Typo="Typo.caption"><b>Symbol</b></MudText>
                            <MudText Typo="Typo.body1">@AssetCounterModel.TokenInfo.Symbol</MudText>
                        </div>
                    </MudItem>

                    <MudItem xs="12" md="6">
                        <div>
                            <MudText Typo="Typo.caption" Class="text-white mb-2"><b>Locked Amount</b></MudText>
                            <MudText Typo="Typo.body1" Class="text-white mb-2">@AssetCounterModel.LockedAmount.ToAmountDisplay(TokenInfo.Decimals)</MudText>
                        </div>
                    </MudItem>

                    <MudItem xs="12" md="6">
                        <div>
                            <MudText Typo="Typo.caption" Class="text-white mb-2"><b>Unlocked Amount</b></MudText>
                            <MudText Typo="Typo.body1" Class="text-white mb-2">@AssetCounterModel.UnlockedAmount.ToAmountDisplay(TokenInfo.Decimals)</MudText>
                        </div>
                    </MudItem>

                    <MudItem xs="12">
                        <div>
                            <MudText Typo="Typo.caption" Class="text-white mb-2"><b>Locks</b></MudText>

                            <MudTable Items="@Locks" Class="mx-0 grey darken-4" Context="lockContext" Elevation="10" Breakpoint="Breakpoint.Sm">
                                <HeaderContent>
                                    <MudTh>Lock Id</MudTh>
                                    <MudTh>Initiator</MudTh>
                                    <MudTh>Total Amount</MudTh>
                                    <MudTh>Status</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Lock Id">
                                        <MudText Color="Color.Primary" Class="cursor-pointer" @onclick="(() => InvokeLockPreviewerModal(lockContext.Lock.LockId))">
                                            <b>@lockContext.Lock.LockId</b>
                                        </MudText>
                                    </MudTd>
                                    <MudTd DataLabel="Initiator">
                                        <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                                            @lockContext.Lock.Initiator.ToStringAddress().ToMask(6)
                                        </MudHidden>
                                        <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
                                           @lockContext.Lock.Initiator.ToStringAddress().ToMask(10)
                                        </MudHidden>
                                </MudTd>
                                <MudTd DataLabel="Total Amount">@lockContext.TotalAmountDisplay</MudTd>
                                <MudTd DataLabel="Status">
                                    <MudChip Size="Size.Small" Color="@lockContext.StatusColor">
                                        <b>@lockContext.Status</b>
                                    </MudChip>
                                </MudTd>
                            </RowTemplate>
                        </MudTable>
                    </div>
                </MudItem>
                }
            </MudGrid>
        </DialogContent>
    </MudDialog>
</MudContainer>
