<MudContainer Class="pa-0 ma-0" MaxWidth="MaxWidth.False" style="max-height: 80vh; overflow-y: scroll">
    <EditForm Model="@Model" OnValidSubmit="SubmitAsync">
        <FluentValidationValidator @ref="_fluentValidationValidator" />
        <MudDialog DisableSidePadding="true" ClassActions="px-2 py-4">
            <DialogContent>
                <MudContainer MaxWidth="MaxWidth.False">
                    <MudGrid Class="pt-0 pb-4" Spacing="2">
                        <MudItem xs="12">
                            <MudText Typo="Typo.body1" Class="text-white">
                                LatchBox will attempt to find your token on <b>@SideChainId</b> chain. If you're the token issuer and your token exists in <b>@MainChainId</b> chain and not on <b>@SideChainId</b> chain, LatchBox will send transaction to Token Contract method CrossChainCreateToken on <b>@SideChainId</b> chain. This may take a while.
                            </MudText>
                        </MudItem>

                        <MudItem xs="12">
                            <MudTextField Label="Symbol" Variant="Variant.Outlined" Disabled="IsProcessing"
                                          @bind-Value="Model.Symbol" For="@(() => Model.Symbol)" />
                        </MudItem>
                    </MudGrid>
                </MudContainer>
            </DialogContent>
            <DialogActions>
                <MudButton DisableElevation Variant="Variant.Text" Disabled="IsProcessing" OnClick="Cancel">CANCEL</MudButton>
                <MudButton DisableElevation Variant="Variant.Filled" Disabled="IsProcessing" ButtonType="ButtonType.Submit" Color="Color.Secondary">
                    @if (IsProcessing)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    }
                    else
                    {
                        <span>ADD</span>
                    }
                </MudButton>
            </DialogActions>
        </MudDialog>
    </EditForm>
</MudContainer>

