@page "/locks"

@attribute [Authorize]

<MudContainer MaxWidth="MaxWidth.False">
    <MudText Class="mb-0 text-lightgray" Typo="Typo.body1" GutterBottom="false">Locks</MudText>

    <div class="d-flex mt-0">
        <MudHidden Breakpoint="Breakpoint.SmAndUp">
            <MudText Class="mr-2 align-self-center" Typo="Typo.h5" Color="Color.Primary" GutterBottom="false">My Locks</MudText>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.Xs">
            <MudText Class="mr-4 align-self-center" Typo="Typo.h4" Color="Color.Primary" GutterBottom="false">My Locks</MudText>
        </MudHidden>

        <MudIconButton Class="align-self-center" Icon="@Icons.Material.Filled.Add" Color="Color.Secondary" Variant="Variant.Filled" Size="Size.Small" OnClick="InvokeAddLockModalAsync" />
        @if (IsCompletelyLoaded)
        {
            <MudIconButton Class="align-self-center mx-1" Icon="@Icons.Material.Filled.Refresh" Color="Color.Secondary" Variant="Variant.Filled" Size="Size.Small" OnClick="FetchDataAsync" />
        }
    </div>

    <div class="my-2">
        <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
            <MudChip Class="ma-0 cursor-pointer" Color="Color.Primary" Variant="Variant.Text" Size="Size.Small" Href="@ContractLink" Target="_blank">
                @ManagerToolkit.AelfSettings.LockTokenVaultContractAddress
            </MudChip>
        </MudHidden>
    </div>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
    @if (!IsLoaded)
    {
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="56px" Width="100%" />
        <MudSkeleton Class="mt-2" SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="280px" Width="100%" />
    }
    else if (Locks.Any())
    {
        <MudPaper Square="true" Elevation="10" Class="grey darken-4">
            <MudTable Items="@Locks" Class="mx-0 grey darken-4" FixedHeader="true" Breakpoint="Breakpoint.Sm">
                <HeaderContent>
                    <MudTh>Lock Id</MudTh>
                    <MudTh>Date Start</MudTh>
                    <MudTh>Date Unlock</MudTh>
                    <MudTh>Revocable</MudTh>
                    <MudTh>Total Amount</MudTh>
                    <MudTh>Status</MudTh>
                    <MudTh>Actions</MudTh>
                </HeaderContent>
                <RowTemplate>
                    @if (@context.TokenInfo == null)
                    {
                    <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                    <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                    <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                    <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                    <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                    <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                    <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                    }
                    else
                    {
                    <MudTd DataLabel="Lock Id">
                        <MudText Color="Color.Primary">
                            <b class="cursor-pointer" @onclick="(() => InvokeLockPreviewerModal(context.Lock.LockId))">@context.Lock.LockId</b>
                        </MudText>
                    </MudTd>
                    <MudTd DataLabel="Date Start">@context.Lock.StartTime.ToDateTimeOffset().ToString(ClientConstants.LongDateTimeFormat)</MudTd>
                    <MudTd DataLabel="Date Unlock">@context.Lock.UnlockTime.ToDateTimeOffset().ToString(ClientConstants.LongDateTimeFormat)</MudTd>
                    <MudTd DataLabel="Revocable">
                        @if (context.IsRevocable)
                            {
                            <span>Yes</span>
                            }
                            else
                            {
                            <span>No</span>
                            }
                    </MudTd>
                    <MudTd DataLabel="Total Amount">
                        @context.TotalAmountDisplay
                    </MudTd>
                    <MudTd DataLabel="Status">
                        <MudChip Color="@context.StatusColor" Size="Size.Small">
                            <b>@context.Status</b>
                        </MudChip>
                    </MudTd>
                    <MudTd DataLabel="Actions">
                        <MudMenu Variant="Variant.Filled" Color="Color.Primary" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" DisableElevation="true" Icon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary" Direction="Direction.Left" OffsetX="true">
                            <MudMenuItem Disabled="@(!context.IsRevocable || !context.Lock.IsActive)" OnClick="(() => InvokeRevokeLockModalAsync(context))">Revoke Lock</MudMenuItem>
                        </MudMenu>
                    </MudTd>
                    }
            </RowTemplate>
        </MudTable>

    </MudPaper>
    }
    else
    {
        <MudText Typo="Typo.h5" Class="mt-4">
            No Locks found. You haven't created any locks.
        </MudText>
    }
</MudContainer>
