<MudContainer Class="pa-0 ma-0" MaxWidth="MaxWidth.False" style="max-height: 80vh; overflow-y: scroll">
    <EditForm Model="@Model" OnValidSubmit="SubmitAsync">
        <FluentValidationValidator @ref="_fluentValidationValidator" />
        <MudDialog DisableSidePadding="true" ClassActions="px-2 py-4">
            <DialogContent>
                <MudContainer MaxWidth="MaxWidth.False">
                    <MudGrid Class="pt-0 pb-4" Spacing="1">
                        <MudItem xs="12">
                            <MudText Typo="Typo.body1" Class="text-white">
                                You are about to create a crowd funding for your token <b>@Model.TokenSymbol</b>.
                            </MudText>
                        </MudItem>

                        <MudItem xs="12">
                            <div>
                                <MudText Typo="Typo.caption" Class="text-white mb-2"><b>Token</b></MudText>
                                <MudText Typo="Typo.body1" Class="text-white mb-2">@Model.TokenName (@Model.TokenSymbol)</MudText>
                            </div>
                        </MudItem>

                        <MudItem xs="12">
                            <div>
                                <MudText Typo="Typo.caption" Class="text-white mb-2"><b>Soft Cap Goal</b></MudText>
                                <MudText Typo="Typo.body1" Class="text-white mb-2">@Model.SoftCapNativeTokenAmount @Model.NativeTokenSymbol</MudText>
                            </div>
                        </MudItem>

                        <MudItem xs="12">
                            <div>
                                <MudText Typo="Typo.caption" Class="text-white mb-2"><b>Hard Cap Goal</b></MudText>
                                <MudText Typo="Typo.body1" Class="text-white mb-2">@Model.HardCapNativeTokenAmount @Model.NativeTokenSymbol</MudText>
                            </div>
                        </MudItem>

                        <MudItem xs="12">
                            <div>
                                <MudText Typo="Typo.caption" Class="text-white mb-2"><b>Token Sale Conversation</b></MudText>
                                <MudText Typo="Typo.body1" Class="text-white mb-2">@Model.TokenAmountPerNativeToken @Model.TokenSymbol = 1 @Model.NativeTokenSymbol</MudText>
                            </div>
                        </MudItem>

                        <MudItem xs="12">
                            <div>
                                <MudText Typo="Typo.caption" Class="text-white mb-2"><b>Total Token Sale (Maxium)</b></MudText>
                                <MudText Typo="Typo.body1" Class="text-white mb-2">@(Model.TokenAmountPerNativeToken * Model.HardCapNativeTokenAmount) @Model.TokenSymbol</MudText>
                            </div>
                        </MudItem>

                        <MudItem xs="12">
                            <div>
                                <MudText Typo="Typo.caption" Class="text-white mb-2"><b>Sale Ends</b></MudText>
                                <MudText Typo="Typo.body1" Class="text-white mb-2">@Model.SaleEndDate.Value.ToString(ClientConstants.LongDateFormat) 11:59 PM (GMT)</MudText>
                            </div>
                        </MudItem>

                        <MudItem xs="12">
                            <div>
                                <MudText Typo="Typo.caption" Class="text-white mb-2"><b>Lock Duration after Sale</b></MudText>
                                <MudText Typo="Typo.body1" Class="text-white mb-2">@Model.LockUntilDurationInMinutes minutes</MudText>
                            </div>
                        </MudItem>
                    </MudGrid>
                </MudContainer>
            </DialogContent>
            <DialogActions>
                <MudButton DisableElevation Variant="Variant.Text" Disabled="IsProcessing" OnClick="Cancel">CANCEL</MudButton>
                <MudButton DisableElevation Variant="Variant.Filled" Disabled="IsProcessing" ButtonType="ButtonType.Submit" Color="Color.Secondary">
                    @if (IsProcessing)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    }
                    else
                    {
                        <span>CONFIRM</span>
                    }
                </MudButton>
            </DialogActions>
        </MudDialog>
    </EditForm>
</MudContainer>

