@inherits LayoutComponentBase

@namespace Client.App.Shared

<style>
    .mud-expand-panel, .muudstrap-navbar-expand {
        color: var(--mud-palette-appbar-text);
        background-color: var(--mud-palette-appbar-background);
    }

    .muudstrap-navbar .mud-button {
        text-transform: none;
    }

    .muudstrap-navbar .mud-expand-panel-header {
        padding: 0px;
        width: 100%;
        height: 100%;
        flex: none;
    }
</style>

<MudThemeProvider Theme="CurrentTheme" IsDarkMode="true" />
<MudDialogProvider Position="DialogPosition.Center" MaxWidth="MaxWidth.Small" FullWidth="true" CloseButton="false" DisableBackdropClick="true" CloseOnEscapeKey="false" />
<MudSnackbarProvider  />


@if (IsLoaded)
{
    <MudLayout>
        <MudAppBar Fixed="false" Elevation="0" DisableGutters="true" Class="muudstrap-navbar">
            <div class="d-none d-md-flex justify-space-between align-center px-6 mud-width-full">
                <div class="d-flex align-center gap-2">
                    <MudText Typo="Typo.h6" Color="Color.Primary" Class="ml-4 mr-10 py-1">aelf.LatchBox</MudText>
                    <MudButton Color="Color.Inherit" Link="/">Home</MudButton>
                    <MudButton Color="Color.Inherit" Link="/assets">Assets</MudButton>
                    <MudButton Color="Color.Inherit" Link="/locks">Locks</MudButton>
                    <MudButton Color="Color.Inherit" Link="/vestings">Vestings</MudButton>
                </div>

                @if (IsLoaded)
                {
                    <div class="d-flex gap-2">
                        <MudMenu Label="@CurrentChainDisplay" Size="Size.Small" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Variant="Variant.Outlined">
                            <ChildContent>
                                @foreach (var chain in SupportedChains)
                                {
                                    <MudMenuItem OnClick="@(async e => await OnSetChainAsync(@chain.ChainIdBase58))"><span>@chain.ChainType chain @chain.ChainIdBase58</span></MudMenuItem>
                                }
                            </ChildContent>
                        </MudMenu>

                        @if (!NightElf.IsConnected)
                        {
                            <MudButton Class="align-self-center" OnClick="OnConnectWalletAsync" Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary">Connect Wallet</MudButton>
                        }
                        else
                        {
                            <MudButton Class="align-self-center" OnClick="OnViewWallet" Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary">@NightElf.WalletAddress.ToMask(6)</MudButton>
                        }
                    </div>
                }
                @* <MudPaper Height="36px" Width="36px" Elevation="0" Class="pa-1 rounded-lg d-flex justify-center align-center mud-theme-primary">
            <MudText Typo="Typo.h6">L</MudText>
            </MudPaper>*@
            </div>
            <div class="d-flex d-md-none relative mud-width-full mud-height-full">
                <MudExpansionPanels Square="true" Elevation="0" Class="absolute mud-width-full mud-height-full" Style="top:0px;left:0; background-color:Inherit;">
                    <MudExpansionPanel @bind-IsExpanded="@IsNavMenuPanelExpanded" HideIcon="true" Class="mud-width-full mud-height-full">
                        <TitleContent>
                            <div class="d-flex justify-space-between mud-width-full align-center px-6">
                                <div class="d-flex align-center">
                                    @* <MudPaper Height="36px" Width="36px" Elevation="25" Class="pa-1 rounded-lg d-flex justify-center align-center mud-theme-primary">
                                <MudText Typo="Typo.h6">L</MudText>
                                </MudPaper>
                                <MudText Typo="Typo.h6" Color="Color.Primary" Class="ml-4 mr-12 py-1">aelf.LatchBox</MudText>*@

                                    <MudText Typo="Typo.h6" Color="Color.Primary" Class="mr-12 py-1">aelf.LatchBox</MudText>
                                </div>
                                <MudIcon Color="Color.Secondary" Icon="@Icons.Material.Filled.Menu" />
                            </div>
                        </TitleContent>
                        <ChildContent>
                            <div class="py-6 mx-n6 muudstrap-navbar-expand">
                                <MudNavMenu>
                                    <MudNavLink Match="NavLinkMatch.All" Href="/">Home</MudNavLink>
                                    <MudNavLink Href="/assets">Assets</MudNavLink>
                                    <MudNavLink Href="/locks">Locks</MudNavLink>
                                    <MudNavLink Href="/vestings">Vestings</MudNavLink>
                                    @if (IsLoaded)
                                    {
                                        <MudNavGroup Title="@CurrentChainDisplay">
                                            @foreach (var chain in SupportedChains)
                                            {
                                                <MudNavLink OnClick="@(async e => await OnSetChainAsync(@chain.ChainIdBase58))"><span>@chain.ChainType chain @chain.ChainIdBase58</span></MudNavLink>
                                            }
                                        </MudNavGroup>

                                        <MudNavLink>Connect Wallet</MudNavLink>

                                    }
                                </MudNavMenu>
                            </div>
                        </ChildContent>
                    </MudExpansionPanel>
                </MudExpansionPanels>
            </div>
        </MudAppBar>
        <MudMainContent Class="py-0">
            <MudContainer MaxWidth="MaxWidth.Medium" Class="mt-4 mb-8 px-0 py-2">
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>
}
