@page "/assets"

<MudContainer MaxWidth="MaxWidth.False">
    <div class="d-flex justify-space-between mud-width-full">
        <div class="d-flex">
            <MudText Class="mr-4 align-self-center" Color="Color.Secondary" Typo="Typo.h4" GutterBottom="false">Assets</MudText>
            <MudIconButton Disabled="@(!IsLoaded || !IsConnected)" OnClick="FetchDataAsync" Class="align-self-center" Icon="@Icons.Material.Filled.Refresh" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Medium" />
        </div>

        <div class="d-flex ml-auto">
            <MudButton Disabled="@(!IsLoaded || !IsConnected)" OnClick="OnCreateNewTokenAsync" Class="align-self-center" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium">Create Token</MudButton>
        </div>
    </div>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
    @if (!IsLoaded)
    {
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="56px" Width="100%" />
        <MudSkeleton Class="mt-2" SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="280px" Width="100%" />
    }
    else
    {
        <MudPaper Square="true" Elevation="15">
            @if (TokenBalances.Any())
            {
                <MudTable Items="@TokenBalances" Class="mx-0 grey darken-4" FixedHeader="true" Breakpoint="Breakpoint.Sm">
                    <HeaderContent>
                        <MudTh>Name</MudTh>
                        <MudTh>Total Supply</MudTh>
                        <MudTh>Balance</MudTh>
                        <MudTh></MudTh>
                    </HeaderContent>

                    <RowTemplate>
                        <MudTd DataLabel="Name">
                            <MudText Typo="Typo.body1" Color="Color.Primary">
                                <b>@context.Token.Symbol (@context.Token.Name)</b>
                            </MudText>
                            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                                <MudText Typo="Typo.caption">
                                    <span>[@context.Token.Decimals] [@context.Token.IssueChainId]</span>
                                </MudText>
                            </MudHidden>
                        </MudTd>
                        <MudTd DataLabel="Total Supply">
                            @context.Token.TotalSupply @context.Token.Symbol
                        </MudTd>
                        <MudTd DataLabel="Balance">
                            @context.Balance.RemoveTrailingZeros() @context.Token.Symbol
                        </MudTd>
                        <MudTd DataLabel="">
                            <MudMenu Variant="Variant.Filled" Color="Color.Primary" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" DisableElevation="true" Icon="@Icons.Filled.MoreVert" IconColor="Color.Secondary" Direction="Direction.Left" OffsetX="true">
                                <MudMenuItem OnClick="@(() => OnIssueTokenAsync(context))" Disabled="@(!context.CanIssueToken)">Issue Token</MudMenuItem>
                            </MudMenu>
                        </MudTd>
                    </RowTemplate>
                </MudTable>
            }
            else if (IsConnected)
            {
                <MudText Typo="Typo.h5" Class="px-4 py-6" GutterBottom="false">
                    No tokens found.
                </MudText>
            }
            else
            {
                <MudText Typo="Typo.h5" Color="Color.Error" Class="px-4 py-6" GutterBottom="false">
                    Connect your wallet first.
                </MudText>
            }
        </MudPaper>
    }
</MudContainer>
