@page "/vestings"

<MudContainer MaxWidth="MaxWidth.False">
    <div class="d-flex justify-space-between mud-width-full">
        <div class="d-flex">
            <MudText Class="mr-4 align-self-center" Color="Color.Secondary" Typo="Typo.h4" GutterBottom="false">Vestings</MudText>
        </div>
    </div>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
    @if (!IsConnected)
    {
        <MudPaper Square="true" Elevation="15">
            <MudText Typo="Typo.h5" Color="Color.Error" Class="px-4 py-6" GutterBottom="false" h>
                Connect your wallet first.
            </MudText>
        </MudPaper>
    }
    else
    {
        @if (!IsSupported)
        {
            <MudPaper Square="true" Elevation="15">
                <div class="px-4 py-6">
                    <MudText Typo="Typo.h6" Color="Color.Error" Class="pa-0" GutterBottom="false">
                        Token Vesting feature is not supported on this chain.
                    </MudText>
                    <br />
                    <MudText Typo="Typo.body1" Class="pa-0" GutterBottom="false">
                        @((MarkupString)SupportMessage)
                    </MudText>
                </div>
            </MudPaper>
        }
        else{
            <!-- MY VESTINGS -->
            <MudPaper Square="true" Elevation="15">
                <div class="px-4 py-6">
                    <div Class="d-flex justify-space-between mud-width-full">
                        <div class="d-flex">
                            <MudText Class="mr-4 align-self-center" Color="Color.Secondary" Typo="Typo.h5" GutterBottom="false">My Vestings</MudText>
                            <MudIconButton Disabled="@(!IsMyVestingsLoaded || !IsConnected)" OnClick="FetchInitiatorVestingsAsync" Class="align-self-center" Icon="@Icons.Material.Filled.Refresh" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" />
                        </div>

                        <div class="d-flex ml-auto">
                            <MudButton Disabled="@(!IsMyVestingsLoaded || !IsConnected)" OnClick="InvokeAddVestingModalAsync" Class="align-self-center" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium">Create Vesting</MudButton>
                        </div>
                    </div>
                </div>

                @if (!IsMyVestingsLoaded)
                {
                    <div class="px-4 py-6">
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="56px" Width="100%" />
                        <MudSkeleton Class="mt-2" SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="100px" Width="100%" />
                    </div>
                }
                else
                {
                    <MudTable Items="@VestingInitiatorTransactions" Class="mx-0 grey darken-4" FixedHeader="true" Breakpoint="Breakpoint.Sm">
                        <HeaderContent>
                            <MudTh>Vesting Id</MudTh>
                            <MudTh>Date Start</MudTh>
                            <MudTh>Periods</MudTh>
                            <MudTh>Total Amount</MudTh>
                            <MudTh>Status</MudTh>
                            <MudTh>Actions</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            @if (@context.TokenInfo == null)
                            {
                                <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                                <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                                <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                                <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                                <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                                <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                            }
                            else
                            {
                                <MudTd DataLabel="Vesting Id">
                                    <MudText Color="Color.Primary">
                                        <b Class="cursor-pointer" @onclick="(() => InvokeVestingPreviewerModal(context.Vesting.VestingId))">@context.Vesting.VestingId</b>
                                    </MudText>
                                </MudTd>
                                <MudTd DataLabel="Date Created">@context.Vesting.CreationTime.GetUniversalDateTime().LocalDateTime.ToString(ClientConstants.LongDateTimeFormat)</MudTd>
                                <MudTd DataLabel="Periods">@context.PeriodDisplay</MudTd>
                                <MudTd DataLabel="Total Amount">
                                    @context.TotalAmountDisplay
                                </MudTd>
                                <MudTd DataLabel="Status">
                                    <MudChip Color="@context.StatusColor" Size="Size.Small">
                                        @context.StatusDisplay
                                    </MudChip>
                                </MudTd>
                                <MudTd DataLabel="Actions">
                                    <MudMenu Variant="Variant.Filled" Color="Color.Primary" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" DisableElevation="true" Icon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary" Direction="Direction.Left" OffsetX="true">
                                        @*<MudMenuItem Disabled="@(!context.IsRevocable || !context.Vesting.IsActive)" OnClick="(() => InvokeRevokeVestingModalAsync(context))">Revoke Vesting</MudMenuItem>*@
                                    </MudMenu>
                                </MudTd>
                            }
                        </RowTemplate>
                    </MudTable>
                }
            </MudPaper>

            <!-- MY CLAIMS-->
            <MudPaper Square="true" Elevation="15" Class="mt-8">
                <div Class="px-4 py-6">
                    <div class="d-flex justify-space-between mud-width-full">
                        <div class="d-flex">
                            <MudText Class="mr-4 align-self-center" Color="Color.Secondary" Typo="Typo.h5" GutterBottom="false">My Claims</MudText>
                            <MudIconButton Disabled="@(!IsMyClaimsLoaded || !IsConnected)" OnClick="FetchReceiverVestingsAsync" Class="align-self-center" Icon="@Icons.Material.Filled.Refresh" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" />
                        </div>
                    </div>
                </div>

                @if (!IsMyClaimsLoaded)
                {
                    <div class="px-4 py-6">
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="56px" Width="100%" />
                        <MudSkeleton Class="mt-2" SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="100px" Width="100%" />
                    </div>
                }
                else
                {
                    <MudTable Items="@VestingReceiverTransactions" Class="mx-0 grey darken-4" FixedHeader="true" Breakpoint="Breakpoint.Sm">
                        <HeaderContent>
                            <MudTh>Vesting Id</MudTh>
                            <MudTh>Date Unlock</MudTh>
                            <MudTh>Period</MudTh>
                            <MudTh>Claimable Amount</MudTh>
                            <MudTh>Status</MudTh>
                            <MudTh>Actions</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            @if (@context.TokenInfo == null)
                            {
                                <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                                <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                                <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                                <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                                <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                                <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                            }
                            else
                            {
                                <MudTd DataLabel="Vesting Id">
                                    <MudText Color="Color.Primary">
                                        <b class="cursor-pointer" @onclick="(() => InvokeVestingPreviewerModal(context.Vesting.VestingId))">@context.Vesting.VestingId</b>
                                    </MudText>
                                </MudTd>
                                <MudTd DataLabel="Date Unlock">@context.Period.UnlockTime.GetUniversalDateTime().LocalDateTime.ToString(ClientConstants.LongDateTimeFormat)</MudTd>
                                <MudTd DataLabel="Date Unlock">@context.Period.Name</MudTd>
                                <MudTd DataLabel="Claimable Amount">
                                    <div class="d-flex">
                                        @context.AmountDisplay
                                    </div>
                                </MudTd>
                                <MudTd DataLabel="Status">
                                    <MudChip Color="@context.StatusColor" Size="Size.Small">
                                        <b>@context.StatusDisplay</b>
                                    </MudChip>
                                </MudTd>
                                <MudTd DataLabel="Actions">
                                    <MudMenu Variant="Variant.Filled" Color="Color.Primary" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" DisableElevation="true" Icon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary" Direction="Direction.Left" OffsetX="true">
                                        <MudMenuItem Disabled="@(!context.CanClaim)" OnClick="(() => InvokeClaimVestingModalAsync(context))">Claim Vesting</MudMenuItem>
                                    </MudMenu>
                                </MudTd>
                            }
                        </RowTemplate>
                    </MudTable>
                }
            </MudPaper>

            <!-- MY REFUNDS-->
            <MudPaper Square="true" Elevation="15" Class="mt-8">
                <div Class="px-4 py-6">
                    <div class="d-flex justify-space-between mud-width-full">
                        <div class="d-flex">
                            <MudText Class="mr-4 align-self-center" Color="Color.Secondary" Typo="Typo.h5" GutterBottom="false">My Refunds</MudText>
                            <MudIconButton Disabled="@(!IsMyRefundsLoaded || !IsConnected)" OnClick="FetchVestingRefundsAsync" Class="align-self-center" Icon="@Icons.Material.Filled.Refresh" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" />
                        </div>
                    </div>
                </div>

                @if (!IsMyRefundsLoaded)
                {
                    <div class="px-4 py-6">
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="56px" Width="100%" />
                        <MudSkeleton Class="mt-2" SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="100px" Width="100%" />
                    </div>
                }
                else
                {
                    <MudTable Items="@VestingRefunds" Class="mx-0 grey darken-4" FixedHeader="true" Breakpoint="Breakpoint.Sm">
                        <HeaderContent>
                            <MudTh>Token</MudTh>
                            <MudTh>Total Amount</MudTh>
                            <MudTh>Actions</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            @if (@context.TokenInfo == null)
                            {
                                <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                                <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                                <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                            }
                            else
                            {
                                <MudTd DataLabel="Token">
                                    @context.TokenInfo.TokenName (@context.TokenInfo.Symbol)
                                </MudTd>
                                <MudTd DataLabel="Total Amount">
                                    @context.AmountDisplay
                                </MudTd>
                                <MudTd DataLabel="Actions">
                                    <MudMenu Variant="Variant.Filled" Color="Color.Primary" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" DisableElevation="true" Icon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary" Direction="Direction.Left" OffsetX="true">
                                        @*<MudMenuItem OnClick="(() => InvokeClaimRefundModalAsync(context))">Claim</MudMenuItem>*@
                                    </MudMenu>
                                </MudTd>
                            }
                        </RowTemplate>
                    </MudTable>
                }
            </MudPaper>
        }
    }
</MudContainer>